.container h1 {
    text-align: center;
    width: 100%;
}

table {
    width: 85%;
    border-spacing: 0px;
}

th {
    background-color: rgb(219, 219, 219);
    text-align: left;
}

.feedback-button {
    padding: 0px;
    margin-top: 0px;
    color: white;
    background-color: #5685FF;
    border: 1px solid;
}

td,
th {
    padding: 20px;
    border-bottom: 1px solid rgb(153, 153, 153);;
}

.feedback-button:disabled {
    background-color: lightgrey;
    cursor: default;
}