nav {
    justify-content: space-between;
    display: flex;
    left: 0px;
    top: 0px;
    position: fixed;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

.navIcon {
    width: 30px;
    height: 30px;
}

.nav-top {
    display: flex;
}

.icon {
    cursor: pointer;
    align-self: center;
    display: none;
}

.nav-btns-column {
    display: none;
}

.userDropdown {
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px lightgrey;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    background-color: white;
    position: fixed;
    width: inherit;
}

@media screen and (max-width: 1100px) {
    .user-btn {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .userDropdown {
        position: inherit;
    }

    .large-btn {
        margin-left: 10px;
    }

    nav .nav-btns {
        display: none;
    }

    nav .nav-link {
        width: 100%;
    }

    .nav-btn {
        text-align: left;
    }

    nav .icon {
        position: absolute;
        right: 30px;
        display: block;
    }

    nav .large-btn {
        margin-top: 10px;

    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav .nav-btns-column {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        align-items: flex-start;
    }
}

.nav-btns {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* Navbar Button */
.nav-btn {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}

/* Large Button */
.large-btn {
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #5685FF;
    border-radius: 60px;
    font-size: 18px;
    padding: 0px;
    cursor: pointer;
    color: black;
    margin-top: 0px;
}

.nav-btn:hover {
    background-color: #5685FF;
    color: white;
}

.large-btn:hover {
    background-color: #5685FF;
    color: white;
}

/* Navbar Logo */
.nav-logo {
    width: 300px;
    height: 90px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    align-content: center;
}

.username {
    margin: 0px;
    font-size: 18px;
    align-content: center;
    cursor: pointer;
}

.user-btn {
    margin-top: 0px;
    align-content: center;
}